{{>header}}
<h2> Lista de Productos en Tiempo Real</h2>

<div id="productContainer" class="productContainer"></div>

<div class ="div-form">
    <form>
        <input type="text" id="title" placeholder="Titulo">
        <input type="text" id="description" placeholder="Descripcion">
        <input type="number" id="price" placeholder="Precio">
        <input type="text" id="thumbnail" placeholder="Imagen">
        <input type="text" id="code" placeholder="Código">
        <input type="number" id="stock" placeholder="Stock">
        <input type="text" id="category" placeholder="Categoria">

        <select id = "status">
            <option value ="true">Activo</option>
            <option value ="false">Inactivo</option>
        </select>
        <button type = "button" id ="btnEnviar">Enviar</button>

    </form>
</div>

<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" 
integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" 
crossorigin="anonymous"></script>
<script src="js/index.js"></script>