body {
  /*background-color:rgb(56, 55, 53) ;*/
  /*background: repeating-radial-gradient(#3cf655, #3f87a6 50px);*/
  background-size: cover;
  background-attachment: fixed;
  background: linear-gradient(#241f1a, #6b6f70);
  /*in-height: 100vh;*/
  background-repeat: no-repeat;
}


h2 {
  color: rgb(230, 230, 238);
  background-color: rgb(24, 22, 22);
  text-align: center;
  border-radius: 4px;
  padding: 1rem;
  font-family: Arial, sans-serif;

}

a {
  color: #ff2176;
  font-family: Arial, sans-serif;
}

p {
  font-size: small;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #ffffff;
  display: inline-block;
  font-family: Arial, sans-serif;
  padding: 2rem;
  max-width: 300px;
  margin: 20px;
  border: 0.1px solid #161515;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: auto;
}

button {
  background-color: #ff2176;
}

/* Estilos adicionales al pasar el mouse sobre la tarjeta (opcional) */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query para hacer la tarjeta responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
  }

  .card {
    flex: 100%; /* Hace que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
  }
}

/* formulario */

.div-form {
  display: flex;
  justify-content: center;
}

form {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

input,
select,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}
/*
.padding-button {
  padding: 1rem;
}

.color-button {
  background-color: #161515;
}
*/
button {
  background-color: #ff2176;
  color: rgb(37, 34, 34);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e5fa26;
}

.navigate-button {
  
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: small;
  padding: 10px;
  background-color: #e5fa26;
  color: rgb(37, 34, 34);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  
}

header {
  background-color: #161515;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #ff2176;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #e5fa26; /* Cambia el color al pasar el ratón sobre el enlace */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  nav {
    display: none; /* Oculta la barra de navegación en pantallas más pequeñas */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav.show {
    display: flex; /* Muestra la barra de navegación cuando se hace clic en el icono del menú */
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  /* Icono del menú desplegable */
  header:before {
    content: '\2630'; /* Código del carácter Unicode para el icono del menú */
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
}

.register-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}


/* Style register*/
.login-container {
  padding: 2rem;
  justify-content: center;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.login-form input[type='text'],
.login-form input[type='number'],
.login-form input[type='email'],
.login-form input[type='password'] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login-form button[type='submit'] {
  background-color: #ff2176;
  color: #1d1b1b;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.login-form button[type='submit']:hover {
  background-color: #e5fa26;
}
.login {
  display: grid;
  justify-content: center;
  margin: auto;
}
.login h3 {
  color: #1a1818;
  font-size: medium;
  font-family: Arial, sans-serif;
}

.login a {
  color:#ff2176 ;
  font-size: medium;
  
}


