<header>
  <a href="/" class="logo">

  <nav>
    <ul>
      
      <li><a href="/products">Products</a></li>
      <li><a href="/realtimeproducts">Real Time Products</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/login">Login</a></li>
      
    </ul>
  </nav>
</header>