{{#each products}}
    <div class="card">
        <img src="https://placekitten.com/200/286" class="card-img-top" alt="Rayban Aviator">
        <h2>{{this.title}} </h2>
        <p>Precio: {{this.price}}</p>
        <p>Descripcion:{{this.description}} </p>
        
        <button> Comprar </button>
    </div>
{{/each}}
